# Lecture 6: CRUD operations in MongoDB

## Learning objectives

By the end of this lecture, students should understand:
- Describe the use cases for the MongoDB Query Language (MQL). 
- Perform basic CRUD operations using MQL.
- Execute queries using MQL find() and delete().
- Use the most common MQL query operators to optimize searches.

## Lecture Notes

### Introduction
CRUD operations are the basic operations you can perform on a database. CRUD stands for Create, Read, Update, and Delete. In MongoDB, these operations can be performed using various methods provided by the PyMongo library.

MQL is designed for single collection queries and it is typically used for creating, reading, updating, or deletion (CRUD) operations. 

MQL query operators:
- Comparison
- Logical
- Element
- Array
- Evaluation

In [15]:
from pymongo import MongoClient # import mongo client to connect
import json # import json to load credentials
import urllib.parse

# load credentials from json file
with open('credentials_mongodb.json') as f:
    login = json.load(f)

# assign credentials to variables
username = login['username']
password = urllib.parse.quote(login['password'])
host = login['host']
url = "mongodb+srv://{}:{}@{}/?retryWrites=true&w=majority".format(username, password, host)

# connect to the database
client = MongoClient(url)

# drop database books and students if they exist
client.drop_database('library')


### 1. Find (Read)
The `find` method is used to query documents from a collection.

#### Syntax

In [16]:
collection.find(query, projection)

NameError: name 'query' is not defined

- `query`: A dictionary specifying the criteria for the query.
- `projection`: A dictionary specifying the fields to include or exclude.

#### Example

In [17]:
# create database and collection
db = client["library"]
collection = db["books"]

In [18]:
# add sample books to the collection
sample_books = [    {"title": "The Great Gatsby", "author": "F. Scott Fitzgerald", "year": 1925},
                    {"title": "A Farewell to Arms", "author": "Ernest Hemingway", "year": 1929},
                    {"title": "The Catcher in the Rye", "author": "J.D. Salinger", "year": 1951},
                    {"title": "The Grapes of Wrath", "author": "John Steinbeck", "year": 1939},
                    {"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960},
                    {"title": "1984", "author": "George Orwell", "year": 1949},
                    {"title": "Animal Farm", "author": "George Orwell", "year": 1945}]

# insert sample books to the collection
collection.insert_many(sample_books)

InsertManyResult([ObjectId('66e8a0597a895c83fa099de7'), ObjectId('66e8a0597a895c83fa099de8'), ObjectId('66e8a0597a895c83fa099de9'), ObjectId('66e8a0597a895c83fa099dea'), ObjectId('66e8a0597a895c83fa099deb'), ObjectId('66e8a0597a895c83fa099dec'), ObjectId('66e8a0597a895c83fa099ded')], acknowledged=True)

In [19]:

# Find all documents, this will return a cursor
collection.find()

In [20]:
# print all documents
for book in collection.find():
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099de7'), 'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925}
{'_id': ObjectId('66e8a0597a895c83fa099de8'), 'title': 'A Farewell to Arms', 'author': 'Ernest Hemingway', 'year': 1929}
{'_id': ObjectId('66e8a0597a895c83fa099de9'), 'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'year': 1951}
{'_id': ObjectId('66e8a0597a895c83fa099dea'), 'title': 'The Grapes of Wrath', 'author': 'John Steinbeck', 'year': 1939}
{'_id': ObjectId('66e8a0597a895c83fa099deb'), 'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}
{'_id': ObjectId('66e8a0597a895c83fa099dec'), 'title': '1984', 'author': 'George Orwell', 'year': 1949}
{'_id': ObjectId('66e8a0597a895c83fa099ded'), 'title': 'Animal Farm', 'author': 'George Orwell', 'year': 1945}

In [21]:

# Find documents with a specific condition
specific_books = collection.find({"year": {"$gt": 1950}})

# Print the results
for book in specific_books:
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099de9'), 'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'year': 1951}
{'_id': ObjectId('66e8a0597a895c83fa099deb'), 'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}



### 2. Insert (Create)
The `insert_one` and `insert_many` methods are used to insert documents into a collection.

#### Syntax

```python
collection.insert_one(document)
collection.insert_many(documents)
```

- `document`: A dictionary representing a single document.
- `documents`: A list of dictionaries representing multiple documents.

#### Example

In [23]:
# Insert a single document
new_book = {
    "title": "Brave New World",
    "author": "Aldous Huxley",
    "published_year": 1932,
    "isbn": "978-0-06-085052-4",
    "price": 11.99
}
collection.insert_one(new_book)

# Insert multiple documents
new_books = [
    {
        "title": "The Road",
        "author": "Cormac McCarthy",
        "published_year": 2006,
        "isbn": "978-0-307-38789-9",
        "price": 12.99
    },
    {
        "title": "The Handmaid's Tale",
        "author": "Margaret Atwood",
        "published_year": 1985,
        "isbn": "978-0-385-49081-8",
        "price": 9.99
    }
]
collection.insert_many(new_books)

InsertManyResult([ObjectId('66e8a05d7a895c83fa099def'), ObjectId('66e8a05d7a895c83fa099df0')], acknowledged=True)

In [24]:
# check if the documents were inserted
for book in collection.find():
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099de7'), 'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925}
{'_id': ObjectId('66e8a0597a895c83fa099de8'), 'title': 'A Farewell to Arms', 'author': 'Ernest Hemingway', 'year': 1929}
{'_id': ObjectId('66e8a0597a895c83fa099de9'), 'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'year': 1951}
{'_id': ObjectId('66e8a0597a895c83fa099dea'), 'title': 'The Grapes of Wrath', 'author': 'John Steinbeck', 'year': 1939}
{'_id': ObjectId('66e8a0597a895c83fa099deb'), 'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}
{'_id': ObjectId('66e8a0597a895c83fa099dec'), 'title': '1984', 'author': 'George Orwell', 'year': 1949}
{'_id': ObjectId('66e8a0597a895c83fa099ded'), 'title': 'Animal Farm', 'author': 'George Orwell', 'year': 1945}
{'_id': ObjectId('66e8a05d7a895c83fa099dee'), 'title': 'Brave New World', 'author': 'Aldous Huxley', 'published_year': 1932, 'isbn': '978-0-06-085052-4', 'price': 11.99}
{'_id': ObjectId('66e8a05d7a895c83fa099def'), 'title': 'The Road', 'author': 'Cormac McCarthy', 'published_year': 2006, 'isbn': '978-0-307-38789-9', 'price': 12.99}
{'_id': ObjectId('66e8a05d7a895c83fa099df0'), 'title': "The Handmaid's Tale", 'author': 'Margaret Atwood', 'published_year': 1985, 'isbn': '978-0-385-49081-8', 'price': 9.99}



### 3. Update
The `update_one` and `update_many` methods are used to update documents in a collection.

#### Syntax

```python
collection.update_one(filter, update)
collection.update_many(filter, update)
```

- `filter`: A dictionary specifying the criteria for the update.
- `update`: A dictionary specifying the fields to update.

#### Example

In [25]:
# Update a single document
collection.update_one(
    {"title": "1984"},
    {"$set": {"price": 8.49}}
)

# Update multiple documents
collection.update_many(
    {"author": "George Orwell"},
    {"$set": {"genre": "Dystopian"}}
)

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff00000000000000cb'), 'opTime': {'ts': Timestamp(1726521489, 8), 't': 203}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1726521489, 8), 'signature': {'hash': b"\x17A\xc4dRGQ\xf9^0\xc8'\xeb?\xfcZ\x8d:3\xec", 'keyId': 7381891571605569538}}, 'operationTime': Timestamp(1726521489, 8), 'updatedExisting': True}, acknowledged=True)

In [26]:
# check if the documents were updated
# print book with title "1984"
print(collection.find_one({"title": "1984"}))

{'_id': ObjectId('66e8a0597a895c83fa099dec'), 'title': '1984', 'author': 'George Orwell', 'year': 1949, 'price': 8.49, 'genre': 'Dystopian'}

In [27]:
# print all books with author "George Orwell"
for book in collection.find({"author": "George Orwell"}):
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099dec'), 'title': '1984', 'author': 'George Orwell', 'year': 1949, 'price': 8.49, 'genre': 'Dystopian'}
{'_id': ObjectId('66e8a0597a895c83fa099ded'), 'title': 'Animal Farm', 'author': 'George Orwell', 'year': 1945, 'genre': 'Dystopian'}



### 4. Delete
The `delete_one` and `delete_many` methods are used to delete documents from a collection.

#### Syntax

```python
collection.delete_one(filter)
collection.delete_many(filter)
```

- `filter`: A dictionary specifying the criteria for the deletion.

#### Example

In [28]:
# Delete a single document
collection.delete_one({"title": "1984"})

# Delete multiple documents
collection.delete_many({"author": "George Orwell"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000cb'), 'opTime': {'ts': Timestamp(1726521551, 13), 't': 203}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1726521551, 13), 'signature': {'hash': b'\x91\x05\x8c7\x8a\xba\x88\xf3\xb2\xef,\x8f8\x91\xab\xb6\x1aD\x0fD', 'keyId': 7381891571605569538}}, 'operationTime': Timestamp(1726521551, 13)}, acknowledged=True)

In [30]:
# check if the documents were deleted
# print book with title "1984"
print(collection.find_one({"title": "1984"}))

None

In [31]:
# print all books with author "George Orwell"
for book in collection.find({"author": "George Orwell"}):
    print(book)



### 5. Operators
MongoDB provides various operators to perform complex queries and updates.

#### Common Operators
- `$gt`: Greater than
- `$lt`: Less than
- `$gte`: Greater than or equal to
- `$lte`: Less than or equal to
- `$eq`: Equal to
- `$ne`: Not equal to
- `$in`: In a list
- `$nin`: Not in a list
- `$set`: Set a field to a value
- `$unset`: Remove a field

#### Example

In [32]:
# print all documents
for book in collection.find():
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099de7'), 'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925}
{'_id': ObjectId('66e8a0597a895c83fa099de8'), 'title': 'A Farewell to Arms', 'author': 'Ernest Hemingway', 'year': 1929}
{'_id': ObjectId('66e8a0597a895c83fa099de9'), 'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'year': 1951}
{'_id': ObjectId('66e8a0597a895c83fa099dea'), 'title': 'The Grapes of Wrath', 'author': 'John Steinbeck', 'year': 1939}
{'_id': ObjectId('66e8a0597a895c83fa099deb'), 'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}
{'_id': ObjectId('66e8a05d7a895c83fa099dee'), 'title': 'Brave New World', 'author': 'Aldous Huxley', 'published_year': 1932, 'isbn': '978-0-06-085052-4', 'price': 11.99}
{'_id': ObjectId('66e8a05d7a895c83fa099def'), 'title': 'The Road', 'author': 'Cormac McCarthy', 'published_year': 2006, 'isbn': '978-0-307-38789-9', 'price': 12.99}
{'_id': ObjectId('66e8a05d7a895c83fa099df0'), 'title': "The Handmaid's Tale", 'author': 'Margaret Atwood', 'published_year': 1985, 'isbn': '978-0-385-49081-8', 'price': 9.99}

In [33]:
# Find documents with price greater than 10
expensive_books = collection.find({"price": {"$gt": 10}})
for book in expensive_books:
    print(book)

{'_id': ObjectId('66e8a05d7a895c83fa099dee'), 'title': 'Brave New World', 'author': 'Aldous Huxley', 'published_year': 1932, 'isbn': '978-0-06-085052-4', 'price': 11.99}
{'_id': ObjectId('66e8a05d7a895c83fa099def'), 'title': 'The Road', 'author': 'Cormac McCarthy', 'published_year': 2006, 'isbn': '978-0-307-38789-9', 'price': 12.99}

In [34]:
# Delete documents where author starts with "J"
collection.delete_many({"author": {"$regex": "^J"}})
for book in collection.find():
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099de7'), 'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925}
{'_id': ObjectId('66e8a0597a895c83fa099de8'), 'title': 'A Farewell to Arms', 'author': 'Ernest Hemingway', 'year': 1929}
{'_id': ObjectId('66e8a0597a895c83fa099deb'), 'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}
{'_id': ObjectId('66e8a05d7a895c83fa099dee'), 'title': 'Brave New World', 'author': 'Aldous Huxley', 'published_year': 1932, 'isbn': '978-0-06-085052-4', 'price': 11.99}
{'_id': ObjectId('66e8a05d7a895c83fa099def'), 'title': 'The Road', 'author': 'Cormac McCarthy', 'published_year': 2006, 'isbn': '978-0-307-38789-9', 'price': 12.99}
{'_id': ObjectId('66e8a05d7a895c83fa099df0'), 'title': "The Handmaid's Tale", 'author': 'Margaret Atwood', 'published_year': 1985, 'isbn': '978-0-385-49081-8', 'price': 9.99}

In [36]:

# Show documents where year is between 1920 and 1930
books_between_1930_and_1950 = collection.find({"year": {"$gte": 1920, "$lte": 1930}})
for book in books_between_1930_and_1950:
    print(book)

{'_id': ObjectId('66e8a0597a895c83fa099de7'), 'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925}
{'_id': ObjectId('66e8a0597a895c83fa099de8'), 'title': 'A Farewell to Arms', 'author': 'Ernest Hemingway', 'year': 1929}



### Conclusion
These are the basic CRUD operations you can perform on a MongoDB database using PyMongo. Understanding these operations is essential for managing and manipulating data in MongoDB.

## Supplemental materials

Read more here: https://www.mongodb.com/docs/manual/crud/

![](https://media.cheatography.com/storage/thumb/isaeus_mongodb.750.jpg)